



.container{


}

/*헤더 박스 레이아웃 */

.header_wrap{
	max-width: 1600px;
	margin: 0 auto;
	text-align: center;
}




/*로고 영역*/

h1.header_logo{
	
	width: 87px;
	height: 17px;
	margin: 32px 0 0 32px;
	background: url("../img/header_logo.png") no-repeat;
	background-size: cover;
	float: left;	
}

.header_logo a{

	display: inline-block;
	width: 100%;
	height: 100%;
}

/*메인메뉴 영역*/

nav{
	
		display: inline-block;
	}


ul.gnb_menu{
	font-size: 0;
	text-align: center;
}

li.gnb_menu_list, li.gnb_menu_list_recruit{
			display: inline-block;
			font-size: 1rem;

				}

a.gnb_menu_item{
	display: block;
	margin: 0 32px;
	padding:30px 0 30px;
	/*5.28메인메뉴 폰트 스타일*/
  font-size: 15px;
  color: rgb(7, 100, 100);
  position: relative;	/*마우스 오버시 하단 라인이 a 요소 길이만큼 나오도록 absolute 기준을  a둔다.*/
}	
/*5.28 메뉴 마우스 오버 시 보더 동작: 가상선택자와 트랜지션 다음 주 수업예정 */
 .gnb_menu .gnb_menu_list .gnb_menu_item:before, 
 .gnb_menu .gnb_menu_list_recruit .gnb_menu_item:before {

/*5.28 트랜지션 주기 위한 요소를 미리 숨겨놓음 ^^ */
  content: '';
  position: absolute;
  left: -1px;
  bottom: 20px;
  width: calc(100% + 2px);
  height: 2px;
  background-color: #1ec545;
  /*다음주 트랜지션 배움 */
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*5.28 트랜지션 스케일 0에서 1로 변환하면서 나타나는 오버 효과  ^^ */
.gnb_menu .gnb_menu_list:hover .gnb_menu_item:before, 
.gnb_menu .gnb_menu_list .gnb_menu_item:focus:before, 
.gnb_menu .gnb_menu_list_recruit:hover .gnb_menu_item:before, 
.gnb_menu .gnb_menu_list_recruit .gnb_menu_item:focus:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*채용 메뉴 효과 */
/*<li class="gnb_menu_list_recruit">
<a href="#" class="gnb_menu_item">채용</a></li>*/

.gnb_menu .gnb_menu_list_recruit .gnb_menu_item:focus:after,
.gnb_menu .gnb_menu_list_recruit .gnb_menu_item:before {
  content: '';
  display: block;
  position: absolute;
  left:  30px;
  top: 31px;
  width: 18px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  -webkit-background-size: 474px 1250px;
  background-size: 474px 1250px;
  background-position: -59px 0;
}


/*5.28언어선택기 영역 */
.header_util{
	float: right;
	margin:30px 25px 0 0;
	/*5.28넓이 */
	width: 144px;
	

}
.header_util .header_lang {
  display: inline-block;
  vertical-align: middle;
  margin: 0 41px 0 0;
  font-size: 13px;
}
.header_util .header_lang a:first-child {
  padding-right: 7px;
  color: #333;
  border-right: 1px solid rgba(0,0,0,0.3);
}

.header_util .header_lang a:last-child {
  padding-left: 7px;
  color: #333;
 
}





/* 메인메뉴 마우서 오버시 서브메뉴 영역 스타일*/
.gnb_dropmenu_wrap{
	display: none;
    min-width: 1100px;
    height: 276px;
    background-color: rgb(30,197,69);
    position: absolute;
    left: 0;
    right: 0;
    top:80px;
    z-index: 999;
    text-align: center;
    font-size: 0;
    /*드랍다운 배경 쉐도우*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}


.gnb_menu_list:hover .gnb_dropmenu_wrap{
	display: block;
}

.gnb_dropmenu_wrap > li{
  
	display: inline-block;
	width: 190px;
	height: 100%;
	padding-top: 28px;
	font-size: 1rem;
	vertical-align: top;
	border-left:1px solid rgba(255,255,255,0.3);


}
.gnb_dropmenu_wrap > li:last-child{
  	
  	border-right:1px solid rgba(255,255,255,0.3);
	/* 오른쪽 라인 생성 */
}
/*마우스 오버 시 백그라운드컬러 넘침현상 box-sizing:border-size로 인한 현상 
commom.css파일 연결 안한 경우 발생 */
.gnb_dropmenu_wrap > li:hover{
	background-color: #0fb93c;
}
/*드랍다운 메뉴 스타일*/
.gnb_dropmenu a{

	color: #fff;
	font-size: 0.9rem;
}





.gnb_menu .gnb_dropmenu > li {
  margin: 0 0 5px;
  font-size: 15px;
  text-align: left;
}

.gnb_menu .gnb_dropmenu > li.depth_blank {
  margin-bottom: 14px;
}


 .classify {
  margin-bottom: 22px;
  padding-top: 22px;
  border-top: 1px solid #4bd16a;
}


.gnb_menu .gnb_dropmenu .classify:first-child {
  padding-top: 0;
  border-top: 0;
}

a.gnb_dropmenu_item {
  display: block;
  padding-left: 28px;
  line-height: 1.2;
  
}


.gnb_dropmenu_item .depth {
  position: relative;/*마우스 호버 트랜지션 */
  color: rgba(255,255,255,0.7);
  
}


/*드랍다운 메뉴 하위매뉴 마우스호버 트랜지션  */
.gnb_dropmenu .gnb_dropmenu_item span:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.gnb_dropmenu_item:hover span:before, 
.gnb_dropmenu_item:focus span:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.gnb_dropmenu_item .depth:hover{
  color: rgba(255,255,255,1);

  
}






